$dark: #273036;
$base: #313C44;
$light: #525F67;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  font-size: 1rem;
  background-color: $dark;
}



.grid-container {

  &.view-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    // grid-auto-rows: 100px;
    grid-auto-flow: dense;
    grid-gap: 1em;
    padding: 1em;
    background-color: blue;
    height: calc(100vh - 2em);

    > div {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: .2rem;
      text-align: center;
      h2 {font-size: 1.5rem;}
    }

    .grid-item-highlight {
      grid-row: span 2;
      grid-column: span 2;

    }
  }
}


.view-turbo {
  // padding-bottom: 5rem;
   header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0
   }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-auto-flow: dense;
    grid-gap: 1rem;
    padding: 1rem;
    height: calc(100vh - 10rem);
    color: #fff;
  }

  .grid-item {
    background-color: $base;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: start;

    &-icon {
      height: 3rem;
      width: 3rem;
      background-color: $light;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50rem;
      margin-right: 1rem;
      align-self: center;
      margin-bottom: 1rem;
    }

    &-body {
      width: 100%;
      font-weight: bold;
      // display: flex;
      // align-items: center;
      // justify-content: start;
    }
    &-list {
      width: 100%;
      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem
      }
    }

    &:hover,
    &.active {
      background-color: #fff;
      color: $dark;
    }
  }

  .grid-item {
    &-default {
      grid-row: span 1;
      grid-column: span 1;
    }
    &-highlight {
      grid-row: span 3;
      grid-column: span 1;

      .grid-item-icon {
        background-color: $base;
        // height: 2rem;
        // width: 2rem;
        margin: 0;
      }
      .grid-item-body {
        display: flex;
        margin-top: 1rem;
      }
    }
    &-extended {
      grid-row: span 2;
      grid-column: span 1;
    }
  }

  .logo {border-radius: .2rem; height: 2rem;}
}

.text {
  &-1 {font-size: 2rem; margin: 0}
  &-2 {font-size: 1.5rem; margin: 0}
  &-3 {font-size: .8rem; margin: 0}
  &-white {color: #ffffff;}
}


.d-flex {display: flex}
.align-items-center {align-items: center}
.justify-content-between {justify-content: space-between}

.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}
.avatar {
  height: 2rem;
  width: 2rem;
  border-radius: 50rem;
  margin-right: 1rem;
}
.w-100 {width: 100%;}

@import "~aos/dist/aos.css"